body, html {
  height: 100%;
}

.App {
  text-align: center;
  position: fixed;
  height: 100%;
  width: 100%;
}

.App-header {
  background-color: #222;
  height: 25%;
  width: 100%;
  color: white;
}

.App-buttons {
  background: lightblue; 
  height: 75%;
  width: 100%;
}


App-header-scored-values{
  height: 20px;
  width: 100%;
}

.App-header-scored-values-box{
  float: left;
  width: 80%;
  height: 100%;
  overflow: hidden;
}

.App-header-action-buttons{
  height: 50%;  
  height: 100%;
  overflow: hidden;  
}

.App-header-scored-values_sum{
  width: 80%;
  font-size: 10vh;
}

.App-header-scored-values{
  overflow: hidden;
}

.App-action-button {
  font-size: 4vh;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  height: 50%;
  width: 100%;
}

.App-score-button {  
  display:inline-block;
  height: 25%;
  width: 33%;
  font-size: 10vh;
}

.App-div-button {
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
  cursor:pointer;
}
.App-div-button:active {
  color:grey;
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}
